# OSごとの不要ファイル
.DS_Store
Thumbs.db

# IDE/エディタの設定ファイル
.vscode/
.idea/

# Composer
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

# Node.js
/node_modules/
/package-lock.json

# キャッシュやログ
*.log
*.cache
*.tmp
*.bak
*.swp
/log/*
/tmp/*
/public/uploads/*
/Tests/tmp/*

# 環境設定
.env
dbconfig.ini
mailconfig.ini

# OS/ツールによる一時ファイル
*.~*
